label {
    margin-left: 6px;
    color: whitesmoke;
}

.todo-input {
    margin: 12px 0px;

}

input {
    margin-right: 8px;
}

input:focus {
    border-color: #7f7f7f;
    border-radius: 6px;
}

.btn-submit {
    background-color: #2f2f2f;
    border: 1px solid #1f1f1f;
    border-radius: 8px;
    padding: 10px 14px;
    color: #efefef;
}

.btn-submit:hover {
    background-color: #4f4f4f;
}

.btn-submit:active {
    background-color: #0f0f0f;
}
